<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hao Tai about</title>
    <link rel="stylesheet" href="{% static 'styleabout.css' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;1,600&family=Roboto+Flex:opsz,wght@8..144,400;8..144,600;8..144,700;8..144,900&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'common.css' %}">

</head>
<body>
    <section class="head">
        <div class="haotai">
            <div><img src="{% static 'images/logo 1.png'%}" alt=""></div>
            <div><h1 class="borders" style="text-decoration: underline;">Hao-Tai</h1></div>
        </div>
        <div class="details">
            <div class="home active"><a href="{% url 'web:home' %}"><h1 id="homenormal">Home</h1> </a></div>
            <div class="home blink "><a href="{% url 'web:about' %}"><span class="red">ABOUT</span> </a></div>
            <div class="home blink "><a href="{% url 'web:jobs' %}"><span class="red">JOBS</span> </a></div>
            <div class="home blink "><a href="{% url 'web:home' %}#benefits"> <span class="red">BENIFITS</span></a></div>
            <div class="home hiring blink colorred" id="red" style="font-style: normal;"><a href="{% url 'web:hiring' %}"><span style="font-size: 37px;">Hiring</span></a></div>
        </div>
        <div class="menu" id="sreyas">
            <img src="{% static 'images/Menu.png'%}" alt="" >
        </div>
        <div id="navbar" class="overlay">
            <section class="menubar">
                <div class="menuclick">
                    <img src="{% static 'images/logo 1.png' % }" alt="">
                    <a href="{% url 'web:home' %}">Home</a>
                    <a href="{% url 'web:about' %}">About</a>
                    <a href="{% url 'web:jobs' %}">Jobs</a>
                    <a href="{% url 'web:home' %}#benefits">Benefits</a>
                    <a id="menuclose"><img src="{% static 'images/Frame 2.png'%}" alt=""></a>
                </div>
                <div class="follow">
                    <p>Follow us on</p>
                    <div class="mediaicon">
                        {% if social.instagram %}
                        <a href="{{social.instagram}}"><img src="{% static 'images/instagram.png' %}" alt=""></a>
                        {% endif %}
                        {% if social.facebook %}
                        <a href="{{social.facebook}}"><img src=".{% static 'images/Vector.png' %}" alt=""></a>
                        {% endif %}
                        {% if social.twitter %}
                        <a href="{{social.twitter}}"><img src="{% static 'images/Vector(1).png' %}" alt=""></a>
                        {% endif %}
                        {% if social.email %}
                        <a href="mailto:{{social.email}}"><img src="{% static 'images/mail.png' %}" alt=""></a>
                        {% endif %}
                        <a href="tel:{{social.phone}}"><img src="{% static 'images/contact.png'%}" alt=""></a>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="info">
        <h2>About us</h2><br>
        <div class="primary">
                <div class="aboutus">
                <p>{{about.about|safe}}</p>
                <div class="read">
                    <a href="{% url 'web:aboutpdf' %}"><p> Read more </p></a>
                </div>
            </div>

            <div class="empty">
                <img src="{{about.about_image.url}}" alt="">
            </div>
        </div>
        <div class="area">
            <div class="blocksa">
                <p><b>{{about.employee_cout| safe}}</b><br>Num. of Employees</p>
            </div>
            <div class="blocksa">
                <p><b>{{about.location}}</b><br>Location</p>
            </div>
            <div class="blocksa">
                <p><b>{{about.area}}</b><br>Area</p>
            </div>
            <div class="blocksa">
                <p><b>{{about.no_of_buildings}}</b><br>Num. of Buildings</p>
            </div>
        </div>
    </section>
    <section class="blue">
        <h2 class="text-decoration-black">Hao-Tai</h2>
        <div class="connect">
            <div class="links">
                <b>Links</b>
                <div class="options">
                    <a href="{% url 'web:home' %}">Home</a>
                    <a href="{% url 'web:about' %}">About</a>
                    <a href="{% url 'web:jobs' %}">Jobs</a>
                    <a href="{% url 'web:home' %}#benefits">Benefits</a>
                </div>
            </div>
            <div class="media">
                <div>
                    <p class="text-decoration-black">Call us <br><br><a id="call" href="tel:{{social.phone}}"> {{social.phone}}</a></p>
                </div>
                <div>
                    <p class="text-decoration-black">Follow us on</p>
                    <div class="icons">
                        {% if social.instagram %}
                        <a href="{{social.instagram}}"><img src="{% static 'images/instagram.png' %}" alt=""></a>
                        {% endif %}
                        {% if social.facebook %}
                        <a href="{{social.facebook}}"><img src=".{% static 'images/Vector.png' %}" alt=""></a>
                        {% endif %}
                        {% if social.twitter %}
                        <a href="{{social.twitter}}"><img src="{% static 'images/Vector(1).png' %}" alt=""></a>
                        {% endif %}
                        {% if social.email %}
                        <a href="mailto:{{social.email}}"><img src="{% static 'images/mail.png' %}" alt=""></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a href="https://api.whatsapp.com/send/?phone={{social.phone}}&amp;text&amp;app_absent=0" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <style>
        .float {
          position: fixed;
          width: 60px;
          height: 60px;
          bottom: 100px;
          left: 40px;
          background-color: #25d366;
          color: #fff;
          border-radius: 50px;
          text-align: center;
          font-size: 30px;
          box-shadow: 0px 0px 0px;
          z-index: 100;
        }

        .my-float {
          margin-top: 15px;
        }
      </style>
    <script src="{% static 'menu.js' %}"></script>
</body>
</html>