<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hao Tai jobs</title>
    <link rel="stylesheet" href="{% static 'stylejob.css' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;1,600&family=Roboto+Flex:opsz,wght@8..144,400;8..144,600;8..144,700;8..144,900&display=swap" rel="stylesheet"> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'common.css' %}">

</head>
<body>
    <section class="head">
        <div class="haotai">
            <div><img src="{% static 'images/logo 1.png' %}" alt=""></div>
            <div><h1>Hao Tai</h1></div>
        </div>
        <div class="details">
            <div class="home"><a href="{% url 'web:home' %}">HOME</a></div>
            <div class="home"><a href="{% url 'web:about' %}">ABOUT</a></div>
            <div class="home active"><a href="{% url 'web:jobs' %}">JOBS</a></div>
            <div class="home"><a href="{% url 'web:home' %}#benefits">BENIFITS</a></div>
        </div>
        <div class="menu" id="sreyas"><img src="{% static 'images/Menu.png' %}" alt=""></div>
        <div id="navbar" class="overlay">
            <section class="menubar">
                <div class="menuclick">
                    <img src="{% static 'images/logo 1.png' %}" alt="">
                    <a href="{% url 'web:home' %}">Home</a>
                    <a href="{% url 'web:about' %}">About</a>
                    <a href="{% url 'web:jobs' %}">Jobs</a>
                    <a href="{% url 'web:home' %}#benefits">Benefits</a>
                    <a id="menuclose"><img src="{% static 'images/Frame 2.png' %}" alt=""></a>
                </div>
                <div class="follow">
                    <p>Follow us on</p>
                    <div class="mediaicon">
                        <a href=""><img src="{% static 'images/instagram.png' %}" alt=""></a>
                        <a href=""><img src="{% static 'images/Vector.png' %}" alt=""></a>
                        <a href=""><img src="{% static 'images/Vector(1).png' %}" alt=""></a>
                        <a href="mailto:email@gmail.com"><img src="{% static 'images/mail.png' %}" alt=""></a>
                        <a href="tel:99999 99999"><img src="{% static 'images/contact.png' %}" alt=""></a>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="work">
        <h2>Jobs</h2>
        <div class="job">
            {% for job in jobs %}
            <div class="vacancy"><a href="{{job.get_absolute_url}}">
                <div><img src="{{job.category.image.url}}" alt=""></div>
                <div>
                    <b>{{job.title}}</b><br>
                    <p>{{job.description}}</p>
                    <div class="slots">{{job.vacancies}} Vacancy</div>
                </div></a>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="blue">
        <h2>Hao Tai</h2>
        <div class="connect">
            <div class="links">
                <b>Links</b>
                <div class="options">
                    <a href="{% url 'web:home' %}">Home</a>
                    <a href="{% url 'web:about' %}">About</a>
                    <a href="{% url 'web:jobs' %}">Jobs</a>
                    <a href="{% url 'web:home' %}#benefits">Benefits</a>
                </div>
            </div>
            <div class="media">
                <div>
                    <p>Call us <br><br><a id="call" href="tel:{{social.phone}}">{{social.phone}}</a></p>
                </div>
                <div>
                    <p>Follow us on</p>
                    <div class="icons">
                        {% if social.instagram %}
                        <a href="{{social.instagram}}"><img src="{% static 'images/instagram.png' %}" alt=""></a>
                        {% endif %}
                        {% if social.facebook %}
                        <a href=""><img src="{% static 'images/Vector.png' %}" alt=""></a>
                        {% endif %}
                        {% if social.twitter %}
                        <a href=""><img src="{% static 'images/Vector(1).png' %}" alt=""></a>
                        {% endif %}
                        {% if social.email %}
                        <a href="mailto:{{social.email}}"><img src="{% static 'images/mail.png' %}" alt=""></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a href="https://api.whatsapp.com/send/?phone={{social.phone}}&amp;text&amp;app_absent=0" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <style>
        .float {
          position: fixed;
          width: 60px;
          height: 60px;
          bottom: 100px;
          left: 40px;
          background-color: #25d366;
          color: #fff;
          border-radius: 50px;
          text-align: center;
          font-size: 30px;
          box-shadow: 0px 0px 0px;
          z-index: 100;
        }

        .my-float {
          margin-top: 15px;
        }
      </style>
    <script src="{% static 'menu.js' %}"></script>
</body>
</html>